" set mapleader to space
let mapleader = " "

set scrolloff=8
set incsearch
set ignorecase
set smartcase
set hlsearch
clearForm
set clipboard='unnamedplus'

"Plugins

" NERDTree
set NERDTree
" Which-key
set which-key
set notimeout
set timeoutlen=5000"

" Keybindings
map Q gq
imap jj <Esc>
vnoremap < <gv
vnoremap > >gv

" Language Keybindings
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)

" Explorer Keybindings
map <leader>ee :NERDTreeToggle<CR>
map <leader>eo :NERDTreeFocus<CR>
map <leader>ef :NERDTreeFind<CR>

" Buffer/Editor Keybindings
map <leader>bc <Action>(CloseContent)
map <leader>bo <Action>(CloseAllEditorsButActive)
map <leader>bq <Action>(CloseAllEditors)
map <leader>bh <Action>(MoveEditorToOppositeTabGroup)
map <leader>bk <Action>(MoveEditorToOppositeTabGroup)
map <leader>bj <Action>(MoveTabDown)
map <leader>bl <Action>(MoveTabRight)
map <leader>bf <Action>(ReformatCode)

" Debug Keybindings
map <leader>dd <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dr <Action>(Run)
map <leader>dK <Action>(ShowErrorDescription)
map <leader>dn <Action>(GotoNextError)
map <leader>dp <Action>(GotoPreviousError)
map <leader>dm <Action>(ChooseDebugConfiguration)
map <leader>dl <Action>(Resume)
map <leader>dk <Action>(StepOver)
map <leader>dj <Action>(StepInto)
map <leader>dh <Action>(StepOut)

" Terminal Keybindings
map <leader>tt <Action>(ActivateTerminalToolWindow)

" Navigation Keybindings
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l
